

.table-responsive tbody > tr > td span {
	display: none;
}
@media (max-width: 767px) {
	/*._table-label::before {
		content: attr(data-label);
		font-weight: 700;
	}*/
	.table-responsive {
		overflow: visible !important;
	}
	.table-responsive thead,
	.table-responsive tr.active {
		display: none;
	}
	.table-responsive * {
		/*white-space: wrap !important;
		word-wrap: break-word !important;*/
		white-space: normal !important;
	}

	.table-responsive tbody > tr {
		display: block;
	}
	.table-responsive tbody > tr > td {
		display: block;
		max-width: calc(100vw - 30px);
	}
	.table-responsive tbody > tr > td span {
		display: block;
		padding-bottom: 4px;
		max-width: calc(100vw - 46px);
		overflow: hidden;
		white-space: normal !important;
		font-weight: 700;
	}
	.table-responsive__label {
		margin-bottom: 2px;
	}
}