
@media (max-width: 767px) {
	._table-label::before {
		content: attr(data-label);
		font-weight: 700;
	}
	.table-two-colone {
		overflow: visible !important;
	}
	.table-two-colone thead {
		display: none;
	}
	.table-two-colone * {
		white-space: wrap !important;
	}

	.table-two-colone tbody > tr {
		display: block;
	}
	.table-two-colone tbody > tr > td {
		display: block;
		max-width: 100%;
	}
	.table-two-colone tbody > tr > td span {
		display: block;
		padding-top: 4px;
	}
}